@{
    Layout = "_Layout";
}

<h1 class="jumbotron">This page concerns your customer @Model.Name</h1>

<p>@Html.ActionLink("Click here to Edit their name", "Edit", new { id = @Model.ClientId})</p>

<p>@Html.ActionLink("Click here to Delete their name off of your client list", "Delete", new { id = @Model.ClientId})</p>


  