@model Salon.Models.Client;
@{
    Layout = "_Layout";
}

<h1 class="jumbotron">Edit client: @Model.Name</h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ClientId)
    @Html.HiddenFor(model => model.StylistId)
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    <input type="submit" value="Save Changes" />
}