@using Salon.Models;
@{
    Layout = "_Layout";
}

<h1 class="jumbotron">@Model.Name</h1>

<h3>@Model.Details</h3>

@if(ViewBag.theirClients.Count == 0)
{
    <p>@Model.Name doesn't have any clients added to their roster yet. Click below to add their first!</p>
}
<ul>
    @foreach(Client client in ViewBag.theirClients)
    {
    <li>@Html.ActionLink($"{client.Name}", "Details", "Client", new { id = client.ClientId})</li>
    }

</ul>

<p>@Html.ActionLink("Add a new client for " + $"{@Model.Name}", "Create", "Client", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Click here to edit this stylist", "Edit", new { id = @Model.StylistId})</p>
<p>@Html.ActionLink("Click here to delete this stylist", "Delete", new { id = @Model.StylistId})</p>